<footer class="footer">
    <div class="footer__container-credits">
        <% const d = new Date(); %>
        <% let year = d.getFullYear(); %>
        <p class="body-4">Made with <span class="footer__heart">&hearts;</span> in London by Marco Valeri - &copy; <%= year; %> - All rights reserved</p>
    </div>
</footer>
</body>
</html>
