<div class="header">
    <div class="header__container-navigation">
        <%- include('./navigation.ejs'); %>
    </div>
    <div class="header__container-content">
        <div class="header__content">
            <h1 class="header__title h1">Dev With It</h1>
            <h1 class="header__sub-title h3"><%= pageTitle; %></h1>
        </div>
    </div>
</div>
