<nav class="navigation">
    <div class="navigation__container-title">
        <h1 class="h2"><a class="link-no-style--white" href="/">Dev With It</a></h1>
    </div>
    <div class="navigation__container-menu">
        <label htmlFor="nav menu" aria-label="nav menu"></label>
        <input id="nav menu" name="nav menu" class="navigation__input" type="checkbox" aria-label="nav menu" />
        <span class="navigation__span navigation__span--empty"></span>
        <span class="navigation__span"></span>
        <span class="navigation__span"></span>
        <ul class="navigation__menu">
            <li class="navigation__logo"><a class="h2 link-no-style--white" href="/">Dev With It</a></li>
            <li class="navigation__item"><a class="body-3 link-no-style--white" href="/">Home</a></li>
            <li class="navigation__item"><a class="body-3 link-no-style--white" href="/">Articles</a></li>
        </ul>
    </div>
</nav>
