.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "main__content main__sidebar";

    @include respond(xl) {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "main__content"
        "main__sidebar";
    }

    &__content {
        grid-area: main__content;
        border: 1px solid #000;
    }

    &__sidebar {
        grid-area: main__sidebar;
        border: 1px solid #000;
    }
}

